# System and editor files
.DS_Store
*.swp
*.swo
*.log
*.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.env
.env
.venv/
venv/
pip-wheel-metadata/

# Data directory (PDFs, HTML, temp files)
data/logs/
data/tmp/

# Label Studio
label-studio/frontend/dist/
label-studio/static/

# Test and temp data
*.tmp
*.temp
*.old
*.out
*.test

# IDEs & Tools
.vscode/
.idea/

# Secrets and sensitive files
*.key
*.pem
*.crt

# Node.js
node_modules/
*.eslintcache
.prettierignore
.prettierrc
stylelint.config.js

# Frontend build output
frontend/dist/
frontend/.vite/

# Playwright
*.spec.ts
playwright-report/
test-results/

# Logs
logs/

#ignore workspaces
*.code-workspace
